<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin  Dashboard/ Registered Student Page</title>
    <link rel="stylesheet" href="/css/dashbord.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/56adb67a5b.js" crossorigin="anonymous"></script>
    
    </head>
    <body>
          <!-- small screen nav ............................................................. -->

          <%- include('_includeFolder/adminNav') %>
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 sidebar">
                <div id="user">
                    
                </div>
                <!-- including sidebar -->
                <%- include('_includeFolder/_adminSideBar') %>

            </div>
            <div class="col-12 col-md-9 col-lg-10 main-content">
              
                
        </div>
        <%- include('_includeFolder/adminAcordium') %>
        <div class="container wrap-table ">
          <div class="resolve-complaint">
            <span  class="h4">
              Resolved Complaints
            </span>
            <input type="text" id="customSearchBox" class="form-control custom-search-input" placeholder="Search...">
        </div>
           
          <table  >
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>NAME</th>
                    <th>MATRIC NUMBER</th>
                    <th>EMAIL</th>
                    <th>PHONE NUMBER</th>
                    <th>DATE OF BIRTH</th>
                    <th>DEPARTMENT</th>
                    <th>GENDER</th>
                    <!-- <th>UPDATE</th>
                    <th>DELETE</th> -->
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<registeredStudents.length;i++){ %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= registeredStudents[i].fname %> <%= registeredStudents[i].middle_name %> <%= registeredStudents[i].lname %></td>
                        <td><%= registeredStudents[i].matric %></td>
                        <td><%= registeredStudents[i].email %></td>
                      <td><%= registeredStudents[i].phone_no %></td>
                        <td><%=new Date(registeredStudents[i].date_of_birth).toLocaleDateString()  %></td>
                        <td><%= registeredStudents[i].department %></td>
                        <td><%= registeredStudents[i].gender %></td>
                        <!-- <td id="view-td" style="color: green;"><i class="fa-solid fa-pen-to-square"></i></td>
                        <td id="view-td" style="color: red;"><i class="fa-solid fa-trash"></i></td> -->
                    </tr>
                <% } %>
            </tbody>
            
            </table>

          </div>
    </div>
    </div>
   
    <!-- jQuery library -->
    <script src="/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
<!--   
    <script src="/js/userDashBord.js"></script> -->
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "100%";
          document.getElementById("mySidenav").style.height = "40%";
          document.getElementById("main").classList.add("open"); // Add class to push down
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").classList.remove("open"); // Remove class to return to original position
        }
        </script> 
        <script src="/js/adminDashBord.js"></script>

</body>
</html>
