
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff dashbord/ Uploaded Result  Page</title>
     <link rel="stylesheet" href="/css/dashbord.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/56adb67a5b.js" crossorigin="anonymous"></script>
    
    </head>
    <body>
          <!-- small screen nav ............................................................. -->


      <!-- sidebar nav ............................................................. -->


      <%- include('_staffIncludeFolder/staffNavBar') %>

      <!-- sidebar nav ............................................................. -->

      <%- include('_staffIncludeFolder/staffAcordium') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 sidebar">
                <div id="user">
                    
                </div>
                <!-- including sidebar -->
              <!-- including sidebar -->
              <%- include('_staffIncludeFolder/staffSideBar') %>
            </div>
            <div class="col-12 col-md-9 col-lg-10 main-content">
              
                
        </div>
        <div class="container box-cont" style="display: none;">
            <div class="boxes">
                <div class="box box1">
                    <div class="num" id="num1">5</div>
                    <div class="box-txt" id="box-txt1">Total Complaints</div>
                </div>
                <div class="box box2">
                    <div class="num" id="num2">5</div>
                    <div class="box-txt" id="box-txt2">Resolved Complaints</div>
                </div>
                <div class="box box3">
                    <div class="num" id="num3">5</div>
                    <div class="box-txt" id="box-txt3">Pendding Complaints</div>
                </div>
            </div>
        </div>
        <div class="container wrap-table ">
            <div class="wrap-txt text-center">
              <h2 class="text-center"  id="h2">Uploaded Results</h2>
            </div>
          <table  >
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>NAME</th>
                    <th>MATRIC NUMBER</th>
                    <th>DEPARTMENT</th>
                    <th>SECTION</th>
                    <th>LEVEL</th>
                    <th>SEMESTER</th>
                    <th>Update</th>
                    <th>view</th>

                </tr>
            </thead>
            <tbody>
                <% if (studentData && studentData.length > 0) { %>
                    <% studentData.forEach((student, index) => { %>

                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= student.name %></td>
                            <td><%= student.matric %></td>
                            <td><%= student.department %></td>
                            <td><%= student.section %></td>
                            <td><%= student.level %></td>
                            <td><%= student.semester %></td>
                            <td>
                                <a href="/staff/view/update/result/page?mat_no=<%= student.matric %>&section=<%= student.section %>&level=<%= student.level %>&semester=<%= student.semester %>">Update</a>
                            </td>  
                        <td><a href="/staff/view/user/result?mat_no=<%= student.matric %>&section=<%= student.section %>&level=<%= student.level %>&semester=<%= student.semester %>">View</a></td>                      </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="7">No students found.</td>
                    </tr>
                <% } %>
            </tbody>
            
            
            
            </table>

          </div>
    </div>
    </div>
   
    <!-- jQuery library -->
    <script src="/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
  
    <script src="/js/userDashBord.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "100%";
          document.getElementById("mySidenav").style.height = "40%";
          document.getElementById("main").classList.add("open"); // Add class to push down
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").classList.remove("open"); // Remove class to return to original position
        }
        </script> <script src="/js/staffDashBord.js"></script>
</body>
</html>




