<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student result page</title>
    <!-- <link rel="stylesheet" href="/css/userDashBord.css"> -->
    <link rel="stylesheet" href="/css/studentResult.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css"> -->


    <%- include('_studentIncludeFolder/navbar') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 sidebar">
             <!-- including sidebar -->
             <%- include('_studentIncludeFolder/userSideBar') %>
            <!-- including sidebar -->
            </div>
               <!-- check result section///////////////////////////////////////////// -->
               <%- include('_studentIncludeFolder/viewResult') %>

               <!-- check result section///////////////////////////////////////////// -->
             <!-- complaint section/////////////////////////////////////////////////////////////////////// -->
             <%- include('_studentIncludeFolder/complaint') %>

             <!-- complaint section/////////////////////////////////////////////////////////////////////// -->

             <div class="col-12 col-md-9 col-lg-10 main-content" style="display: non;">
                <div class="wrapp-box bx">
                    <div class="container box-cont">
                        <div class="container  sidebar-top">
                            <table class="table table-bordedd">
                                <thead>
                                    <tr>
                                        <th>COURSE TITLE</th>
                                        <th>COURSE CODE</th>
                                        <th>COURSE UNIT</th>
                                        <th>ASSESMENT1</th>
                                        <th>ASSESSMENT2</th>
                                        <th>EXAM SCORE</th>
                                        <th>TOTAL SCORE</th>
                                        <th>GRADE</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% result.courses.forEach(course=>{%>
                                        <tr>
                                            <td><%= course.course_title %> </td>
                                            <td><%= course.course_code %> </td>
                                            <td><%= course.course_unit %> </td>
                                            <td><%= course.assessment1%> </td>
                                            <td><%= course.assessment2 %> </td>
                                            <td><%= course.exam_score %> </td>
                                            <td><%= course.total_score %> </td>
                                            <td><%= course.grade %> </td>
                                            
                                            
                                            </tr>
                                        <%});%>
                                            </tbody>
                        
                           
                             </table>
                        </div>
                   
                </div>
                
                
            </div>
        </div>
    </div>
    
       <!-- jQuery library -->
       <script src="/jquery/jquery.min.js"></script>
       <!-- Bootstrap JS Bundle (includes Popper) -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
       <!-- <script>
           document.addEventListener('DOMContentLoaded', function() {
               var myAccordion = new bootstrap.Accordion(document.getElementById('accordionExample'));
           });
       </script> -->
    <script src="/js/userDashBord.js"></script>
    
</body>
</html>